*{
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	padding:0px;
}
html{
	overflow: -moz-scrollbars-vertical; 
overflow-y: scroll;	
}

.contentLayout{
	min-width: 1175px;
	//max-width: 1024px;
   	//margin: 0px auto;
}

.alertColor{
	color:red;	
}